.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1.5rem;
  border-bottom: 2px solid $offblack;

  &__left {
    display: flex;
    align-items: center;
    &--icon {
      height: 0.75rem;
      margin-right: 1rem;
    }
    &--text {
      color: $white;
    }
  }

  &__right {
    &--icon {
      height: 1.3rem;
    }
  }
}
